@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Centrar main */
main{
    max-width: 80%; 
    margin:  0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
}
/* Header y main */
header{
    background-color: #7b8bad;
    line-height: 2;
    text-align: center;
    background: rgb(67,72,104);
background: linear-gradient(90deg, rgba(67,72,104,1) 0%, rgba(123,139,173,1) 46%, rgba(236,135,125,1) 100%);
}
header img{
    border-radius: 50%;
    width: 15%; 
    height: auto;
    margin-top: 3em;
    
}
h1 , h2{
    background-color: #434868;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #fff;
}
h1{
    background: linear-gradient(90deg, rgba(67,72,104,1) 0%, rgba(123,139,173,1) 46%, rgba(236,135,125,1) 100%);
    padding: 1em;
    box-shadow: 0px 10px 5px #999999;
}
h2{
    font-size: 21px;
    padding: 1em;    
}
.item-detail{
    font-weight: bold;
    color: #434868;
}
dl,ul{
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 1em;
}
dd{
    color: #434868;
    font-style: italic;
}
/* Footer */
footer{
    background-color: #ec877d;
    color: white;
    font-size: 24px;
    text-align: center;   
}
footer img {
    margin: 1.5em;
    width: 5%;
}